/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 77, 171, 247; /* updated to #4dabf7 */
  --background-rgb: 52, 58, 64; /* updated to #343a40 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* keep white text for dark mode */
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #343a40 !important; /* Force the background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
